<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서경대 공지사항</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<div class="writeView_wrap">
    <h2>서경대학교 공지사항 - 게시글 조회</h2>
    <table>
        <tr>
            <td>작성자</td><td th:text="${board.writer}"></td>
        </tr>
        <tr>
            <td>날짜</td><td th:text="${board.createDate}"></td>
        </tr>
        <tr>
            <td>제목</td><td th:text="${board.title}"></td>
        </tr>
        <tr>
            <td colspan="2"><textarea id="content"  th:text="${board.content}"></textarea></td>
        </tr>
    </table>
    <div class="write_wrap">
        <span class="write_btn" onclick="location.href='/'">목록으로</span>
        <span class="update_btn" th:onclick="updateBtn('[[${board.seq}]]')">수정하기</span>
        <span class="delete_btn" th:onclick="deleteBtn('[[${board.seq}]]')">삭제하기</span>
    </div>
</div>
<script src="/js/index.js"></script>
