<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서경대 공지사항</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<div class="writeView_wrap">
    <h2>서경대학교 공지사항 - 글쓰기</h2>
    <table>
        <tr>
            <td>작성자</td><td><input type="text" id="writer" placeholder="작성자를 입력해 주세요."/></td>
        </tr>
        <tr>
            <td>비밀번호</td><td><input type="password" id="password" placeholder="비밀번호를 입력해 주세요."/></td>
        </tr>
        <tr>
            <td>제목</td><td><input type="text" id="title" placeholder="제목을 입력해 주세요."/></td>
        </tr>
        <tr>
            <td colspan="2"><textarea id="content"></textarea></td>
        </tr>
    </table>
    <div class="image_wrap">
        <img src="/image/camera.png" onclick="attachFile(1)"/>
        <img src="/image/camera.png" onclick="attachFile(2)"/>
        <img src="/image/camera.png" onclick="attachFile(3)"/>

        <input type="file" id="fileInput_1" style="display: none;">
        <input type="file" id="fileInput_2" style="display: none;">
        <input type="file" id="fileInput_3" style="display: none;">
    </div>
    <div class="write_wrap">
        <span class="write_btn" onclick="writeAdd()">공지사항 등록</span>
    </div>
</div>
<script src="/js/ckEditor.js"></script>
<script src="/js/ckEditorKo.js"></script>
<script src="/js/index.js"></script>
